body {
  margin: 0;
  height: 5000px; }

#nav-main {
  z-index: 444;
  position: fixed;
  top: 0px;
  width: 100%;
  text-transform: uppercase;
  background: transparent;
  display: flex;
  justify-content: space-between;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s; }
  #nav-main .logo {
    display: inline-block;
    height: 123px;
    width: 180px;
    background: url(../img/logo.png) center center no-repeat; }
  #nav-main nav {
    height: 100%;
    width: 100%; }
    #nav-main nav a {
      height: 100%; }
  #nav-main .nav-links {
    display: none;
    cursor: pointer;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s; }
    #nav-main .nav-links a {
      text-decoration: none; }
      #nav-main .nav-links a:hover, #nav-main .nav-links a:active, #nav-main .nav-links a:focus {
        color: rgba(249, 217, 68, 0.7);
        -webkit-transition-duration: 0.7s;
        -moz-transition-duration: 0.7s;
        -ms-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s; }
  #nav-main .send-request-nav {
    display: inline; }
  #nav-main.nav-down {
    background: white; }
    #nav-main.nav-down .logo {
      display: inline-block;
      height: 52px;
      width: 150px;
      background: url(../img/logo-small.png) center center no-repeat; }
    #nav-main.nav-down .nav-links {
      padding: 24px 30px 10px 45px; }
    #nav-main.nav-down .send-request-nav a {
      padding: 13px 3px 13px 3px; }

.menu-burger {
  border: none;
  background-color: inherit;
  outline: none; }
  .menu-burger .nav-active {
    display: block;
    height: 24px;
    width: 29px;
    background: url(../img/nav-active.png) center center no-repeat; }
  .menu-burger .close-icon {
    display: none;
    height: 24px;
    width: 29px;
    background: url(../img/nav-pass.png) center center no-repeat; }

.home {
  height: 100vh;
  position: relative;
  overflow: hidden; }

video {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin: auto;
  position: absolute;
  padding: 0; }

.content {
  position: relative;
  bottom: 0%;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 3;
  background-color: rgba(251, 210, 37, 0.73); }

.main-text {
  position: relative;
  top: 40%;
  left: 15%; }
  .main-text hr {
    margin: 0;
    padding: 0;
    width: 40px;
    background: black;
    border: 1px solid black; }
  .main-text .top-text {
    font-size: 2.1em;
    margin: 0; }
  .main-text .mid-text {
    font-size: 3.1em;
    margin: 0; }
  .main-text .bottom-text {
    font-size: 2.1em;
    margin: 0; }

form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 15%; }

.user-contacts-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }
  .user-contacts-section p {
    margin: 0; }

.user-name {
  position: relative;
  left: 15%; }

.user-phone {
  position: relative;
  right: 15%; }

.user-contact {
  display: inline;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid black; }

.send-request-contact input {
  display: inline;
  background: transparent;
  position: relative;
  right: 15%; }

.mause {
  position: absolute;
  bottom: 1%;
  left: 50%;
  text-align: center; }
  .mause p {
    margin: 0; }
