// @import './bootstrap.min';
// @import './animate.min';
// @import 'font-awesome-4.7.0/scss/font-awesome';
// @import './fonts';

@font-face {
  font-family: 'ofont.ru_Segoe UI Semibold';
  src: url('ofont.ru_Segoe UI Semibold.eot');
  src: url('ofont.ru_Segoe UI Semibold.woff2') format('woff2'),
       url('ofont.ru_Segoe UI Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Semilight';
  src: url('SegoeUI-Semilight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuisl';
  src: url('segoeuisl.eot');
  src: url('segoeuisl.woff2') format('woff2'),
       url('segoeuisl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('SegoeUI-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuil';
  src: url('segoeuil.eot');
  src: url('segoeuil.woff2') format('woff2'),
       url('segoeuil.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway-Bold.eot');
  src: url('Raleway-Bold.woff2') format('woff2'),
       url('Raleway-Bold.woff') format('woff'),
       url('Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-BoldItalic';
  src: url('SegoeUI-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoeuiz';
  src: url('segoeuiz.eot');
  src: url('segoeuiz.woff2') format('woff2'),
       url('segoeuiz.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
      -ms-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
}

body {
    margin: 0;
    height: 5000px;
}


#nav-main {
    // @media (max-width: 420px) {
    //     display: none;
    // }
    z-index: 444;
    position: fixed;
    top: 0px;
    width: 100%;
    // font-family: "GothamPro";
    text-transform: uppercase;
    background: transparent;
    display: flex;
    justify-content: space-between;
    // font-size: 1.5rem;
    // color: white;
    // @media (min-width: 1810px) {
    //     font-size: 2.5rem;
    // }
    @include transition-duration (0.6s);
    .logo {
        display: inline-block;
        height: 123px;
        width: 180px;
        background: url(../img/logo.png) center center no-repeat;
    }
    nav {
        height: 100%;
        width: 100%;
        a {
            height: 100%;
        }
    }
    .nav-links {
        display: none;
        // display: inline;
        // display: flex;
        // justify-content: space-between;
        // padding: 34px 30px 10px 45px;
        cursor: pointer;
        @include transition-duration (0.6s);
        a {
            // color: white;
            text-decoration: none;
            &:hover, &:active, &:focus{ //возможно убрать фокус
                color: transparentize(#f9d944,.3);
                // font-size: 1.7rem;
                @include transition-duration (0.7s);
            }
        }
    }
    .send-request-nav {
        display: inline;
    }
    // &.nav-top {
    //     background: transparent;
    // }
    &.nav-down {
        // background-color: transparentize(#070a11,.3);
        background: white;
        .logo {
            display: inline-block;
            height: 52px;
            width: 150px;
            background: url(../img/logo-small.png) center center no-repeat;
        }
        .nav-links {
            padding: 24px 30px 10px 45px;
        }
        .send-request-nav {
            a {
                padding: 13px 3px 13px 3px;
            }
        }
    }
}


.menu-burger {
    // top: 45px;
    // right: 45px;
    border: none;
    background-color: inherit;
    // color: #35bdf6;
    outline: none;
    .nav-active {
        display: block;
        height: 24px;
        width: 29px;
        background: url(../img/nav-active.png) center center no-repeat; 
    }
    .close-icon {
        display: none;
        height: 24px;
        width: 29px;
        background: url(../img/nav-pass.png) center center no-repeat; 
    }
}














.home {
    height: 100vh;
    // height: auto;
    position: relative;
    overflow: hidden;    
}

video {
    // height: 100vh;
    // position: relative;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: auto;
    position: absolute;
    // top: 0%;
    // left: 0%;
    padding: 0;
    // @media (max-width: 920px) {
    //     height: 100%;
    //     width: auto;
    // }
}

.content {
    position: relative;
    bottom: 0%;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 3;
    background-color: rgba(251, 210, 37, 0.73);
    // h2 {
    //     margin: 0;
    // }
    // h3 {
    //     margin: 0;
    // }
}

.main-text {
    position: relative;
    top: 40%;
    left: 15%;
    hr {
        margin: 0;
        padding: 0;
        width: 40px;
        background: black;
        border: 1px solid black;
    }
    .top-text {
        font-size: 2.1em;
        margin: 0;
        font-family: 'ofont.ru_Segoe UI Semibold';
    }
    .mid-text {
        font-size: 4.1em;
        margin: 0;
        font-family: 'Raleway-Bold';
    }
    .bottom-text {
        font-size: 2.1em;
        margin: 0;
        font-family: 'ofont.ru_Segoe UI Semibold';
    }
}


form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
}
.user-contacts-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    p {
        margin: 0;
    }

}
.user-name {
    position: relative;
    left: 15%;
    font-family: "ofont.ru_Segoe UI Semibold";
}
.user-email {
    font-family: "ofont.ru_Segoe UI Semibold";
}
.user-phone {
    position: relative;
    right: 15%;
    font-family: "ofont.ru_Segoe UI Semibold";
}
.user-contact {
    display: inline;
    background: transparent;
    border: transparent;
    border-bottom: 2px solid black;
    font-family: "ofont.ru_Segoe UI Semibold";
}
.send-request-contact {
    input {
        display: inline;
        background: transparent;
        position: relative;
        right: 15%;  
        font-family: "segoeuil";
    } 
}


.mause {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    bottom: 1%;
    left: 50%;
    text-align: center;
    p {
        margin: 0;
        color: white;
    }
}


// %link-button {  //extend this to <a>
//  padding: 12px 40px;
//  color: white;
//     border: 3px solid;
//     border-radius: 0px;
//     text-decoration: none;
//     text-transform: uppercase;
//  font-family: "GothamProRegular";
//  font-size: 12px;
//     cursor: pointer;
//     &:hover, &:focus {
//      color: #35bdf6;
//      outline: 5px auto -webkit-focus-ring-color;
//     }
// }

